# Ignore the collected TTS samples
*.wav

# Ignore locally collected data
collectedSpeech/**
collectedWakeWords/**
failedCommands.txt
cancelledActivations.txt
gladosdemo.py

# Local enviroment file
settings.env

# Local Python cache files
**/__pycache__/
