# Ignore the collected TTS samples
audio/tts/**

# Ignore locally collected data
collectedSpeech/**
collectedWakeWords/**
failedCommands.txt
cancelledActivations.txt

# Local enviroment file
settings.env

# Local Python cache files
__pycache__/**