# Ignore the collected TTS samples
*.wav

# Ignore locally collected data
collectedSpeech/**
collectedWakeWords/**
cancelledActivations.txt
gladosdemo.py
failed_commands.txt

# Local enviroment file
settings.env
home_assistant_settings.yaml

# Local Python cache files
**/__pycache__/

test.py
