Flask==2.0.0
phonemizer==3.0.1
pixel-ring==0.1.0
playsound==1.3.0
pocketsphinx==0.1.15
PyAudio==0.2.11
scipy==1.6.3
serial==0.0.97
sounddevice==0.4.4
SpeechRecognition==3.8.1
torch==1.10.2
torch==1.13.1
torchaudio==0.10.2
torchvision==0.11.3
Unidecode==1.3.3
word2number==1.1
python-dotenv
pyserial
psutil
inflect
unidecode==1.3.3
