##### GENERAL ####################################

# What do you call the assistant?
TRIGGERWORD						= "hey alexa"

# Which sound card you use? 
SOUND_CARD_ID					= 0
# Get a list with 'python3 -m sounddevice'
# Select "plugequal" if you wanna use ALSAMIX EQ

# Enable amplifier GPIO pin
SOUND_MUTE_PIN					= 17

# Use ReSpeaker
RESPEAKER_CONNECTED				= FALSE

# To which serial port the eye is connected?
EYE_SERIAL_ENABLE		= false
EYE_SERIAL_PORT			= /dev/ttyACM2
EYE_SERIAL_RATE			= 9600
MAESTRO_SERIAL_ENABLE	= false
MAESTRO_SERIAL_PORT		= /dev/ttyACM1
MAESTRO_SERIAL_RATE		= 9600

# If you are having issues with serial, check that your user belongs to dialout group
# sudo usermod -a -G dialout <username>

# TTS Server - the following are options for where the TTS service is served from.
# local : make sure you git clone https://github.com/nerdaxic/glados-tts.git in your 
#			base directory to install the TTS Server on the localhost
# remote : you have the glados-tts engine running on another machine on your network
#			make sure you also fill in TTS_ENGINE_URL

TTS_SERVER				= local

# TTS Engine used for remote service
TTS_ENGINE_URL			= http://192.168.0.1:8124/synthesize/

# Folder to store TTS samples, absolute path
TTS_SAMPLE_FOLDER		= /home/username/glados-voice-assistant/audio/tts

##### HOME ASSISTANT API #########################

HOME_ASSISTANT_ADDRESS			= https://192.168.1.100:8123
HOME_ASSISTANT_TOKEN			= 000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
HOME_ASSISTANT_WEATHER_ENTITY	= weather.home

##### SPOTIFY ####################################

SPOTIFY_CLIENT_ID				= 00000000000000000000000000000000
SPOTIFY_CLIENT_SECRET			= 00000000000000000000000000000000
SPOTIFY_COUNTRY_CODE			= FI


